.team-lists:after {
  content: "";
  display: table;
  clear: both;
}

.team-list {
  max-width: 200px;
  height: 280px;
  padding: 20px;
  display: block;
  float: left;
}

.team-list header {
  line-height: 30px;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
}

.team-list li {
  line-height: 20px;
}
